<html>
<head>
        <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> Home</h1> </br>
    <h1>
        <ul>
            <ol>
                <a href="/addbook">Add new book</a>
            </ol>
            <ol>
                <a href="/getbooks">List Books</a>
            </ol>
            <ol>
                <a href="/updatebook">Update Book Record</a>
            </ol>
            <ol>
                <a href="/deletebook">Delete Book</a>
            </ol>
        </ul>
    </h1>
</body>
</html>